[submodule "external/IRFoundations"]
	path = external/IRFoundations
	url = git://github.com/iridia/IRFoundations.git
[submodule "external/MGSplitViewController"]
	path = external/MGSplitViewController
	url = git://github.com/iridia/MGSplitViewController.git
[submodule "external/AQGridView"]
	path = external/AQGridView
	url = git://github.com/iridia/AQGridView.git
[submodule "external/IRWebAPIKit"]
	path = external/IRWebAPIKit
	url = git://github.com/iridia/IRWebAPIKit.git
[submodule "external/mockingBird"]
	path = external/mockingBird
	url = git://github.com/waveface/mockingBird.git
[submodule "external/JSONKit"]
	path = external/JSONKit
	url = git://github.com/johnezang/JSONKit.git
