[submodule "external/IRFoundations"]
	path = external/IRFoundations
	url = git://github.com/waveface/IRFoundations.git
[submodule "external/IRWebAPIKit"]
	path = external/IRWebAPIKit
	url = git://github.com/waveface/IRWebAPIKit.git
[submodule "external/mockingBird"]
	path = external/mockingBird
	url = git://github.com/waveface/mockingBird.git
[submodule "external/IRDiscreteLayoutManager"]
	path = external/IRDiscreteLayoutManager
	url = git://github.com/waveface/IRDiscreteLayoutManager.git
[submodule "external/Chameleon"]
	path = external/Chameleon
	url = git://github.com/iridia/Chameleon.git
[submodule "external/NSLogger"]
	path = external/NSLogger
	url = git://github.com/waveface/NSLogger.git
[submodule "external/IRTextAttributor"]
	path = external/IRTextAttributor
	url = git://github.com/waveface/IRTextAttributor.git
[submodule "external/IRRecurrenceMachine"]
	path = external/IRRecurrenceMachine
	url = git://github.com/waveface/IRRecurrenceMachine.git
[submodule "external/InAppSettingsKit"]
	path = external/InAppSettingsKit
	url = git://github.com/futuretap/InAppSettingsKit
[submodule "external/Sparkle"]
	path = external/Sparkle
	url = git://github.com/iridia/Sparkle.git
[submodule "external/IRDeployment"]
	path = external/IRDeployment
	url = git://github.com/waveface/IRDeployment.git
[submodule "external/C3PO"]
	path = external/C3PO
	url = git://github.com/waveface/C3PO.git
[submodule "external/WFPresentation"]
	path = external/WFPresentation
	url = git://github.com/waveface/WFPresentation.git
[submodule "external/IRObjectQueue"]
	path = external/IRObjectQueue
	url = git://github.com/waveface/IRObjectQueue.git
[submodule "external/AGImagePickerController"]
	path = external/AGImagePickerController
	url = git@github.com:waveface/AGImagePickerController.git
[submodule "external/IRSlidingSplitViewController"]
	path = external/IRSlidingSplitViewController
	url = git://github.com/waveface/IRSlidingSplitViewController.git
[submodule "external/IRAQPhotoPicker"]
	path = external/IRAQPhotoPicker
	url = git@github.com:waveface/IRAQPhotoPickerController.git
[submodule "external/ViewDeck"]
	path = external/ViewDeck
	url = git://github.com/syshen/ViewDeck.git
