[submodule "external/IRFoundations"]
	path = external/IRFoundations
	url = git://github.com/waveface/IRFoundations.git
[submodule "external/MGSplitViewController"]
	path = external/MGSplitViewController
	url = git://github.com/iridia/MGSplitViewController.git
[submodule "external/AQGridView"]
	path = external/AQGridView
	url = git://github.com/iridia/AQGridView.git
[submodule "external/IRWebAPIKit"]
	path = external/IRWebAPIKit
	url = git://github.com/iridia/IRWebAPIKit.git
[submodule "external/mockingBird"]
	path = external/mockingBird
	url = git://github.com/waveface/mockingBird.git
[submodule "external/JSONKit"]
	path = external/JSONKit
	url = git://github.com/waveface/JSONKit.git
[submodule "external/IRKeychain"]
	path = external/IRKeychain
	url = git://github.com/iridia/IRKeychain.git
[submodule "external/IRDiscreteLayoutManager"]
	path = external/IRDiscreteLayoutManager
	url = git://github.com/iridia/IRDiscreteLayoutManager.git
[submodule "external/PLCrashReporter"]
	path = external/PLCrashReporter
	url = git://github.com/iridia/PLCrashReporter.git
[submodule "external/Chameleon"]
	path = external/Chameleon
	url = git://github.com/iridia/Chameleon.git
[submodule "external/NSLogger"]
	path = external/NSLogger
	url = git://github.com/iridia/NSLogger.git
[submodule "external/SSToolkit"]
	path = external/SSToolkit
	url = git://github.com/iridia/sstoolkit.git
[submodule "external/IRTextAttributor"]
	path = external/IRTextAttributor
	url = git://github.com/iridia/IRTextAttributor.git
[submodule "external/Finch"]
	path = external/Finch
	url = git://github.com/iridia/Finch.git
[submodule "external/IRRecurrenceMachine"]
	path = external/IRRecurrenceMachine
	url = git://github.com/iridia/IRRecurrenceMachine.git
[submodule "external/InAppSettingsKit"]
	path = external/InAppSettingsKit
	url = git://github.com/futuretap/InAppSettingsKit
[submodule "external/Sparkle"]
	path = external/Sparkle
	url = git://github.com/iridia/Sparkle.git
[submodule "external/IRDeployment"]
	path = external/IRDeployment
	url = git://github.com/iridia/IRDeployment.git
[submodule "external/C3PO"]
	path = external/C3PO
	url = git://github.com/jamessa/C3PO.git
[submodule "external/synergised"]
	path = external/synergised
	url = git://github.com/waveface/synergised.git
[submodule "external/DCIntrospect"]
	path = external/DCIntrospect
	url = https://github.com/domesticcatsoftware/DCIntrospect.git
