<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WARemoteEndpointURL</key>
	<string>http://develop.waveface.com:8080/v2/</string>
	<key>WARemoteEndpointCurrentVersion</key>
	<integer>2</integer>
	<key>WAAdvancedFeaturesEnabled</key>
	<false/>
	<key>WAUserRegistrationUsesWebVersion</key>
	<true/>
	<key>WAUserRegistrationEndpointURL</key>
	<string>http://develop.waveface.com:4343/signup</string>
</dict>
</plist>
