<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WARemoteEndpointURL</key>
	<string>https://develop.waveface.com/v2/</string>
	<key>WARemoteEndpointCurrentVersion</key>
	<integer>2</integer>
	<key>WAAdvancedFeaturesEnabled</key>
	<false/>
	<key>WAUserRegistrationUsesWebVersion</key>
	<true/>
	<key>WAUserRegistrationEndpointURL</key>
	<string>http://develop.waveface.com:4343/signup</string>
	<key>WAUserRequiresReauthentication</key>
	<false/>
	<key>WAUserPasswordResetEndpointURL</key>
	<string>http://develop.waveface.com:4343/user/password/forgot/html</string>
	<key>WAAlwaysAllowExpensiveRemoteOperations</key>
	<false/>
	<key>WAAlwaysDenyExpensiveRemoteOperations</key>
	<true/>
	<key>WADebugAutologinUserIdentifier</key>
	<string>haskell@master.waveface.com</string>
	<key>WADebugAutologinUserPassword</key>
	<string>haskell</string>
	<key>WACrashReportRecipients</key>
	<array>
		<string>Evadne Wu &lt;evadne.wu@waveface.com&gt;</string>
		<string>Vincent Huang &lt;vincent.huang@waveface.com&gt;</string>
		<string>Jamie Sa &lt;jamie@waveface.com&gt;</string>
		<string>Mineral &lt;redmine@waveface.com&gt;</string>
	</array>
	<key>WADebugLastScanSyncBezelsVisible</key>
	<false/>
</dict>
</plist>
