<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>WhereTo</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Goodies</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Advanced Features</string>
			<key>Key</key>
			<string>WAAdvancedFeaturesEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Visuals</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Alternative Items</string>
			<key>Key</key>
			<string>WAUsesUglifiedBarButtonItems</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Remote Endpoint</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>API</string>
			<key>Key</key>
			<string>WARemoteEndpointURL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Registration</string>
			<key>Key</key>
			<string>WAUserRegistrationEndpointURL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password Reset</string>
			<key>Key</key>
			<string>WAUserPasswordResetEndpointURL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Debug Login</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Email</string>
			<key>Key</key>
			<string>WADebugAutologinUserIdentifier</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>WADebugAutologinUserPassword</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Expensive Operations</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Always Allow</string>
			<key>Key</key>
			<string>WAAlwaysAllowExpensiveRemoteOperations</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Always Deny</string>
			<key>Key</key>
			<string>WAAlwaysDenyExpensiveRemoteOperations</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Reading Position Sync</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Bezels</string>
			<key>Key</key>
			<string>WADebugLastScanSyncBezelsVisible</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Actions</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Reset Defaults</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Key</key>
			<string>WASettingsActionResetDefaults</string>
		</dict>
	</array>
</dict>
</plist>
